.skin-blue .main-header .navbar{
  background-image: url("https://i.gifer.com/IrF.gif");
  background-size: cover;}
 
.skin-blue .main-header .logo {
  background-image: url("https://i.gifer.com/IrF.gif");}

.skin-blue .main-header .navbar .sidebar-toggle {
  background-image: url("https://i.gifer.com/IrF.gif");}

.a .sidebar {
  background-image: url("https://i.gifer.com/IrF.gif");}

.skin-blue .main-sidebar {
  background-color: #031923;}